// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.time-line {
  width: 80%;
  margin: auto;
}

.post-user {
  height: 80px;
}

.profile-img-container {
  width : 70px;
  height : 70px;
  border-radius: 50%;
}

.profile-img-container img {
  width : 100%;
  height : 100%;
  border-radius: 50%;
  object-fit : cover;
}

.name {
  line-height : 80px;
  margin-left: 12px;
}